<p-dialog [header]="title" [(visible)]="displayDialog" [modal]="true" [style]="{width: '75vw'}" [draggable]="false" [resizable]="false" (onHide)="closeDialog()">
  <h2>Vad är Painthelper</h2>
  <p>
    Painthelper är som namnet avslöjar ett hjälpmedel för att kunna "måla" med Turf. Dvs utifrån färgerna som visas på heatmap'en på warded.se<br>
    Painthelper är som de två sidorna "Map of my unique zones" och "Map of my never taken zones" på warded.se i en. Dessutom med möjlighet att filtrera på antalet takes och dessutom på Area/Kommun
  </p>
  <h2>Skaffa en användare</h2>
  <p>
    Det första du behöver göra för att kunna använda Painthelper är att skaffa en användare. Det gör du genom att klicka på knappen Import och följa instruktionerna som kommer i dialogen
  </p>
  <p>
    <b>Observera</b> att det inte är något inloggningsförfarande i Painthelper så när du skaffar en användare så kommer informationen om dina tagna zoner bli publik. Dvs vem som helst kommer kunna se dina tagna zoner
  </p>
  <h2>"Inlogging"</h2>
  <p>
    För att komma åt din användare du skapat genom import så börjar du skriva in ditt användarnamn i rutan som ser ut som nedan.<br>
    <img src="assets/help/user.jpg"><br>
    Den bryr sig inte om stora eller små bokstäver och för varje bokstav du skriver så kommer färre och färre förslag upp i dropdownen.

  </p>
  <h2>Filtrering</h2>
  <p>
    I Painthelper jobbar du med en region i taget. Vilken region du ska se zoner för väljer du i denna dropdown<br>
    <img src="assets/help/region.jpg">
  </p>
  <p>
    Du Filtrerar/begränsar din sökning genom att ange "Tagen minst" och "Tagen max" och om du vill genom att välja en Area. I parentes bakom namnet för area visas antalet tagna zoner.<br>
    <img src="assets/help/areaUmea.jpg"><br>
    Om ingen valts så visas zoner för samtliga areas i regionen.
  </p>
  <p>
    Avslutningsvis klickar du på sökknappen. Notera att antalet funna zoner utifrån filtrering visas ovanför sökknappen. Här nedan alla fetlila zoner i Umeå kommun<br>
    <img src="assets/help/fetlila.jpg"><br>
  </p>
  <h2>Summering</h2>
  <p>
    Ovanför sökresultaten visas hur många zoner du tagit i respektive intervall. Det som avviker från färgkodningen i warded är otagna zoner som visas som gula med en röd ram runt.<br>
    Om du valt en area så visas summering för den, annars för hela regionen.<br>
    <img src="assets/help/summary.jpg"><br>
  </p>
  <h2>Användartips</h2>
  <p>
    Om du t ex har som omgångsmål att få färre gula zoner kan du söka fram zoner som är närmast att bli orange på detta vis:<br>
    <img src="assets/help/almostOrange.jpg"><br>
    Genom att sen klicka på en zon i listan så centreras kartan runt denna zon.
  </p>
  <h2>Frågor, feedback</h2>
  <p>
    Jag har gjort denna sida på min fritid (som är rätt så begränsad) men det är ändå värt att skicka in frågor eller felrapporter så försöker jag angripa det så fort jag har möjlighet.
  </p>
  <p>
    <img src="assets/help/mail.jpg">
  </p>
</p-dialog>
