HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### VS Code ###
.vscode/


### misc ###
*.log
.env
/build_local.sh
/run_newly_build.sh
/release_me.sh
/deploy_frontend_to_test.sh

### Angular ####
src/main/ui/dist/
src/main/ui/node_modules/
src/main/ui/.angular/
