<!-- <div class="box">
  <div class="searching-container">
    <div class="pageHeader">
      Painthelper
    </div>
    <div class="grid grid-nogutter text-sm">
      <div class="col-fixed" style="width: 80px">
        <div class="grid grid-nogutter">
          <div class="col-12">
            <label for="minTakes" >Tagen minst:</label>
          </div>
          <div class="col-12">
            <p-inputNumber inputId="minTakes" [(ngModel)]="minTakes" mode="decimal" [size]="4" [min]="0" [max]="9999" placeholder="0-9999"></p-inputNumber>
          </div>
        </div>
      </div>
      <div class="col-fixed" style="width: 80px">
        <div class="grid grid-nogutter">
          <div class="col-12">
            <label for="maxTakes" >Tagen max:</label>
          </div>
          <div class="col-12">
            <p-inputNumber inputId="maxTakes" [(ngModel)]="maxTakes" mode="decimal" [size]="4" [min]="0" [max]="9999" placeholder="0-9999"></p-inputNumber>
          </div>
        </div>
      </div>
      <div class="col-fixed">
        <div class="grid grid-nogutter">
          <div class="col-12">
            <label for="areaSelect" >Area:</label>
          </div>
          <div class="col-12">
            <p-dropdown id="areaSelect" [options]="areas" [(ngModel)]="selectedArea" placeholder="Samtliga areor" optionLabel="areaName" [disabled]="areasMissing()" [showClear]="true" (onChange)="chooseArea()"></p-dropdown>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="grid grid-nogutter">
          <div class="col-12">
            <label for="searchButton" >Funna: {{zones.length}}</label>
          </div>
          <div class="col-12">
            <p-button id="searchButton" icon="pi pi-search" label="Zoner" [disabled]="searchButtonIsDisabled()" (click)="getZones()"></p-button>
          </div>
        </div>
      </div>
    </div>
    <div class="tableHeader text-sm">
      <div class="row">
        <div class="head1">Zonnamn</div>
        <div class="head2">Area</div>
        <div class="head3">Tagit</div>
      </div>
    </div>
    <div class="table text-sm">
      <div class="row" *ngFor="let zone of zones">
        <div class="col1" (click)="zoneInListSelected(zone)">{{zone.zoneName}}</div>
        <div class="col2" (click)="zoneInListSelected(zone)">{{zone.areaName}}</div>
        <div class="col3" (click)="zoneInListSelected(zone)">{{zone.takes}}</div>
      </div>
    </div>
  </div>
  <div class="map-container">
      <div id="map"></div>
  </div>
</div> -->
<as-split direction="vertical">
  <as-split-area [size]="30" [minSize]="10">
    <div class="pageHeader">
      Painthelper
    </div>
    <div class="grid grid-nogutter text-sm">
      <div class="col-fixed" style="width: 80px">
        <div class="grid grid-nogutter">
          <div class="col-12">
            <label for="minTakes" >Tagen minst:</label>
          </div>
          <div class="col-12">
            <p-inputNumber inputId="minTakes" [(ngModel)]="minTakes" mode="decimal" [size]="4" [min]="0" [max]="9999" placeholder="0-9999"></p-inputNumber>
          </div>
        </div>
      </div>
      <div class="col-fixed" style="width: 80px">
        <div class="grid grid-nogutter">
          <div class="col-12">
            <label for="maxTakes" >Tagen max:</label>
          </div>
          <div class="col-12">
            <p-inputNumber inputId="maxTakes" [(ngModel)]="maxTakes" mode="decimal" [size]="4" [min]="0" [max]="9999" placeholder="0-9999"></p-inputNumber>
          </div>
        </div>
      </div>
      <div class="col-fixed">
        <div class="grid grid-nogutter">
          <div class="col-12">
            <label for="areaSelect" >Area:</label>
          </div>
          <div class="col-12">
            <p-dropdown id="areaSelect" [options]="areas" [(ngModel)]="selectedArea" placeholder="Samtliga areor" optionLabel="areaName" [disabled]="areasMissing()" [showClear]="true" (onChange)="chooseArea()"></p-dropdown>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="grid grid-nogutter">
          <div class="col-12">
            <label for="searchButton" >Funna: {{zones.length}}</label>
          </div>
          <div class="col-12">
            <p-button id="searchButton" icon="pi pi-search" label="Zoner" [disabled]="searchButtonIsDisabled()" (click)="getZones()"></p-button>
          </div>
        </div>
      </div>
    </div>
    <div class="tableHeader text-sm">
      <div class="row">
        <div class="head1">Zonnamn</div>
        <div class="head2">Area</div>
        <div class="head3">Tagit</div>
      </div>
    </div>
    <div class="table text-sm">
      <div class="row" *ngFor="let zone of zones">
        <div class="col1" (click)="zoneInListSelected(zone)">{{zone.zoneName}}</div>
        <div class="col2" (click)="zoneInListSelected(zone)">{{zone.areaName}}</div>
        <div class="col3" (click)="zoneInListSelected(zone)">{{zone.takes}}</div>
      </div>
    </div>
  </as-split-area>
  <as-split-area [size]="70" [minSize]="10">
    <div id="map"></div>
  </as-split-area>
</as-split>
