<as-split direction="vertical">
  <as-split-area [size]="40" [minSize]="11">
    <div class="row">
      <div class="pageHeader">
        Painthelper
      </div>
      <div class="row">
        <div class="spaced">
          <p-button icon="pi pi-user" label="Import" (click)="showUploadModalDialog()"></p-button>
          <!--        <p-button label="TestArne" (click)="testingPopulatingRegion()"></p-button>-->
          <p-toast position="top-center"></p-toast>
          <app-upload-region-data-dialog [(displayDialog)]="displayModal" (displaySpinnerChange)=handleDisplaySpinnerChange($event) (uploadResultChange)="handleUploadResult($event) "></app-upload-region-data-dialog>
        </div>
        <div class="spaced">
            <p-button icon="pi pi-question" (click)="showHelpModalDialog()"></p-button>
            <app-help-dialog [(displayDialog)]="displayHelpModal"></app-help-dialog>
        </div>
      </div>
    </div>
    <div class="user">
      <div class="row" *ngIf=displaySpinner>
        Utför import, hav tålamod då det kan ta upp till en minut <p-progressSpinner></p-progressSpinner>
      </div>
      <div class="row">
          <i class="pi pi-user"></i>&nbsp;
          <p-autoComplete [(ngModel)]="selectedUser" [showEmptyMessage]="true" emptyMessage="Ingen användare hittad" [suggestions]="suggestedUsers" (completeMethod)="searchUsers($event)" field="username" [minLength]="1" [size]="6" (onSelect)="userChanged($event)"></p-autoComplete>
          <div *ngIf="errorFindingUser == undefined" class="spaced">
            <p-dropdown [options]="regionTakes" [(ngModel)]="selectedRegion" placeholder="Välj region" optionLabel="regionName" (onChange)="chooseRegion()" ></p-dropdown>
          </div>
      </div>
    </div>
    <div *ngIf="selectedRegion">
      <div class="grid grid-nogutter text-sm">
        <div class="col-fixed" style="width: 80px">
          <div class="grid grid-nogutter">
            <div class="col-12">
              <label for="minTakes" >Tagen minst:</label>
            </div>
            <div class="col-12">
              <p-inputNumber inputId="minTakes" [(ngModel)]="minTakes" mode="decimal" [size]="4" [min]="0" [max]="9999" placeholder="0-9999" (onInput)="handleMinTakesOnInput($event)"></p-inputNumber>
            </div>
          </div>
        </div>
        <div class="col-fixed" style="width: 80px">
          <div class="grid grid-nogutter">
            <div class="col-12">
              <label for="maxTakes" >Tagen max:</label>
            </div>
            <div class="col-12">
              <p-inputNumber inputId="maxTakes" [(ngModel)]="maxTakes" mode="decimal" [size]="4" [min]="0" [max]="9999" placeholder="0-9999" (onInput)="handleMaxTakesOnInput($event)"></p-inputNumber>
            </div>
          </div>
        </div>

        <div class="col-fixed">
          <div class="grid grid-nogutter">
            <div class="col-12">
              <label for="onlyRound">Endast omgång</label>
            </div>
            <div class="grid grid-nogutter">
              <div class="col-12">
                <p-checkbox [binary]="true" [(ngModel)]="searchRoundOnly" inputId="=onlyRound" (onChange)="handleSearchOnlyRoundChange()"></p-checkbox>
              </div>
            </div>
          </div>
        </div>

        <div class="col-fixed">
          <div class="grid grid-nogutter">
            <div class="col-12">
              <label for="areaSelect" >Area:</label>
            </div>
            <div class="col-12">
              <p-dropdown id="areaSelect" [options]="areas" [(ngModel)]="selectedArea" placeholder="Samtliga areor" optionLabel="areaName" [disabled]="areasMissing()" [showClear]="true" (onChange)="chooseArea()">
                <ng-template let-area pTemplate="item">
                  <div [class.untakenArea]="containsNoTakes(area.areaName)">
                    {{ area.areaName }}
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="grid grid-nogutter">
            <div class="col-12">
              <label for="searchButton" >Funna: <b>{{zones.length}}</b></label>
            </div>
            <div class="col-12">
              <p-button id="searchButton" icon="pi pi-search" label="Zoner" [disabled]="searchButtonIsDisabled()" (click)="getZones()"></p-button>
            </div>
          </div>
        </div>
      </div>
      <div class="row topSpace">
        <div class="untakenbox"><span class="font-bold">{{untakenBox}}</span> {{untakenBoxPercent}}</div>
        <div class="greenbox"><span class="font-bold">{{greenbox}}</span> {{greenboxPercent}}</div>
        <div class="yellowbox"><span class="font-bold">{{yellowbox}}</span> {{yellowboxPercent}}</div>
        <div class="orangebox"><span class="font-bold">{{orangebox}}</span> {{orangeboxPercent}}</div>
        <div class="redbox"><span class="font-bold">{{redbox}}</span> {{redboxPercent}}</div>
        <div class="purplebox"><span class="font-bold">{{purplebox}}</span> {{purpleboxPercent}}</div>
      </div>
      <div class="tableHeader text-sm">
        <div class="row">
          <div class="head1">Zonnamn</div>
          <div class="head2">Area</div>
          <div class="head3">Tagit</div>
        </div>
      </div>
      <div class="table text-sm">
        <div class="row" *ngFor="let zone of zones">
          <div class="col1" (click)="zoneInListSelected(zone)">{{zone.zoneName}}</div>
          <div class="col2" (click)="zoneInListSelected(zone)">{{zone.areaName}}</div>
          <div class="col3" (click)="zoneInListSelected(zone)">{{zone.takes}}</div>
        </div>
      </div>
    </div>
  </as-split-area>
  <as-split-area [size]="60" [minSize]="10">
    <div id="map"></div>
  </as-split-area>
</as-split>
